
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
$mindaro: #C5D86D;
$licorice: #261615;
$baby-powder: #F7F7F2;
$beige: #E4E6C3;
$giants-orange: #F05D23;

$main-background-color: $baby-powder;
$main-font-color: $licorice;
$main-font-family: 'Fenix', serif;


@mixin border($color) {
    border-color: $color;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;

}

* {
    padding: 0px;
    margin: 0px;
    font-family: $main-font-family;
    background-color:$main-background-color;
}

.app {

    margin-right: 20vw;
    margin-left: 20vw;

    .navbar {
        $navbar-font-size: 45px;
        $navbar-icon-dim: 30px;

        margin-top: 20px;

        padding: 20px;

        display: flex;

        font-size: $navbar-font-size;
        color: $main-font-color;
        @include border($main-font-color);

        .logo {
            a {
                color: inherit;
                text-decoration: none;
            }
        }

        .activities {
            flex-grow: 1;
            display: flex;
            padding-left: 25px;

            .activitiesImage {
                padding-right: 20px;
                margin: auto;
                width: $navbar-icon-dim;
                height: $navbar-icon-dim;
            }
        }

        .profileIcon {
            font-weight: 30px;
            width: $navbar-icon-dim;
            height: $navbar-icon-dim;
        }

    }

    .textHeader {
        font-size: 30px;
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: space-between;

        .textHeaderTitle {
            flex-grow: 1;
            margin: auto;
            margin-left: 20px;
        }

        .addTextButton {
            color: $main-background-color;
            background-color: $main-font-color;
            margin: auto;
            margin-right: 20px;
            padding: 10px;
            @include border($main-font-color);
        }
    }
}
