
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$mindaro: #C5D86D;
$licorice: #261615;
$baby-powder: #F7F7F2;
$beige: #E4E6C3;
$giants-orange: #F05D23;

$main-background-color: $baby-powder;
$main-font-color: $licorice;
$main-font-family: 'Righteous', cursive;


@mixin border($color) {
    border-color: $color;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;

}

* {
    padding: 0px;
    margin: 0px;
    font-family: $main-font-family;
    background-color:$main-background-color;
}

.app {

    margin-right: 20vw;
    margin-left: 20vw;

    .navbar {
        $navbar-font-size: 35px;
        $navbar-icon-dim: 30px;

        margin-top: 20px;

        padding: 20px;

        display: flex;
        justify-content: space-between;

        font-size: $navbar-font-size;
        color: $main-font-color;
        @include border($main-font-color);

        .logo {
            justify-self: flex-start;
            a {
                color: inherit;
                text-decoration: none;
            }
        }

        .activities {
            justify-self: center;
            flex-grow: 1;
            display: flex;
            padding-left: 25px;
            .activitiesImage {
                padding-right: 20px;
                margin: auto;
                width: $navbar-icon-dim;
                height: $navbar-icon-dim;
            }
        }

        .profileIcon {
            justify-self: flex-end;
            font-weight: 30px;
            width: $navbar-icon-dim;
            height: $navbar-icon-dim;
        }

    }
}
